.banner-info {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 100px;
}

.banner-info .icon-close {
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all .2s ease-out;
}

.banner-info .icon-close:hover {
    color: #fff;
    cursor: pointer;
}

.card .card-buttons {
    display: flex;
    align-items: center;
}

.card .card-buttons i {
    margin-left: 10px;
    color: #039be5;
}

.card .card-buttons i:hover {
    cursor: pointer;
    color: #047bb6;
}

.material-tooltip {
    border-radius: 3px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    background-color: #fff;
    z-index: 99;
}

.header .header-container {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 10px;
}

.header .header-nav {
    display: flex;
}

.header .header-nav a {
    padding: 0 10px;
}

.header .header-nav a:hover {
    color: #09719a;
}

.header .profile-control {
    margin-left: auto;
}

.main {
    padding-top: 85px;
}

.main .news-title {
    margin-bottom: 50px;
}